<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <link rel="stylesheet" href="../css/estilos.css">
    
    <body class="boby">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <header class="cabecera">
    <img class="logo" src="../img/logo.png" alt="">
    <div class="bi">
    
    </div>
    
    </header>
  <center>
        <form id="log"method="post" action="validar.php">
       
       
           <h2 >Acceder</h2>
            Usuario:<input type="text" name="txtUser"/>
            <br>
            Password:<input type="password" name="txtPass"/>
            <br>
          <section id="registro">
         
          <a href="formulario.php" class="btn btn-primary btn-sm" >Registrarse</a>
          </section>

            <button type="submit" class="btn btn-info">Iniciar Sesión</button>
           
    
        
        </div>
       
        </form>
</center>
   <div class="megadiv">


</div>
      <footer>
            <div class="redessociales">
             
         <img src="../img/Facebook.png">
         <img src="../img/Instagram.png">
         <img src="../img/Twitter.png">
         <img src="../img/Google+.png">
   

            </div>
             

        </footer>
    </body>
   
</html>
