<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/formulario.css">
    <link rel="stylesheet" href="../css/fontello.css">
</head>

<body>
<header>
<div class="contenedor">
          <img class="logo" src="../img/logo.png" alt="">
          <input type="checkbox" id="menu-bar">
          <label class="icon-menu" for="menu-bar"></label>
               <nav class="menu">
                 <a href="index.php">Inicio</a>
                 <a  href="">quienes somos</a>
                 <a  href="">Servicios</a>
                 <a href="Salir.php">Salir</a>
               </nav>

     
 </div>
</header>
</body>
</html>